body{
  color: #2d3c49;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/*Overwrite the default font properties for the name in the h1 tag*/
.text-thin{
  font-weight: 100;
  font-size: 60px;
}

/*Change the Featured Work text color, and move it a bit to the right*/
.grey-text{
  color: #7d97ad;
  padding-left: 1%;
}

/*overwrite the default blue color for hyperlinks*/
a{
  color: inherit;
}

/*center the logo in the vertical direction*/
.logo{
  margin-top: 2%;
}

/*make the horizontal rule thicker*/
hr{
  border: 1px solid #7d97ad;
}
